<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <img src="/public/logo.png" alt="Logo" style="width: 200px; display: block; margin: 0 auto 1rem;">
    <p>Original, technical content centered around cloud computing, Kubernetes, Linux, containers, and networking</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item" href="/">Home</a>
    <a class="sidebar-nav-item" href="/about">About</a>
    <a class="sidebar-nav-item" href="/categories">Post Categories</a>
    <a class="sidebar-nav-item" href="/tags">Content Tags</a>
  </nav>

  <div class="sidebar-item">
    <h1 style="padding-bottom: 20px; margin-top: 0%;">
    <div class="social-icons">
        <a href="https://github.com/Imlucky883"><i class="fa fa-github"></i></a>
        <a href="https://x.com/laxman657"><i class="fa fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/laxmanpatel123"><i class="fa fa-linkedin"></i></a>
        <a href="https://www.medium.com/@laxman139"><i class="fa fa-medium"></i></a>
    </div>
    </h1>
    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
